{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-expand-md bg-dark">
      <div class="container-fluid">
        <a
          class="navbar-brand"
          href="/"
          style="
            font-weight: bolder;
            color: rgb(133, 127, 127);
            font-family: sans-serif;
          "
          >MyDuKa</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/"
                style="color: aliceblue; font-weight: bolder"
                >
                Home
              </a>
            </li>
          </ul>
          <span class="navbar-text" style="margin-right: 30px">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="/login"
                  style="color: aliceblue; font-weight: bolder"
                  >
                  Login
                </a>
              </li>
            </ul>
          </span>
        </div>
      </div>
    </nav>
{% endblock %}
{% block body %}
    <div class="banner" style="background: url(../static/images/background2.jpg); height: 100vh; width: 100%; object-fit: cover;">
        <h4 align="center">Log In As: </h4>
        <div class="container">
          <h2>user <a href="{{ url_for('login')}}"><button>here</button></a></h2>
          <h2>Admin <a href="{{ url_for('login')}}">login here</a></h2>
          <h2>Developer <a href="{{ url_for('login')}}">login here</a></h2>


        </div>
    </div>
    
  

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"

    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    ></script>
    <script src="../static/bootstrap.js"></script>

 {% endblock %}