{% extends 'base.html' %} {% block title %}Sales{% endblock %} {% block body %}

<div class="container">
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-primary my-3"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Add Sales
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Make Sales</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="/sales" method="post">
            <div class="mb-3">
              <label for="" class="form-label">Product Name</label>
              <select name="pid" class="form-control">
                {% for p in products %}
                <!--loop iterates through the products inturn looping through index we want to display -->
                <option value="{{p[0]}}">{{p[1]}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Amount</label>
              <input type="number" class="form-control" name="amount" />
            </div>
            <div class="mb-3">
              <input type="submit" class="btn btn-primary" value="Make Sale" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <table class="table" border="3" id="myTable">
    <!--id is now linked to table to give it a style referenced from datatables-->
    <thead>
      <tr>
        <th>Sale Id</th>
        <th>Product Name</th>
        <th>Sale Quantity</th>
        <th>Sale Date</th>
      </tr>
    </thead>
    <tbody>
      {% for s in sales %}

      <tr>
        <td>{{s[0]}}</td>
        <td>{{s[1]}}</td>
        <td>{{s[2]}}</td>
        <td>
          {% if s[3] != None %}
          <!--line 31,33,34,35 are if statements used when value is null-->
          {{ s[3] | strftime("%B %d, %Y") }}<!--only line needed the above and below are problem solving technique when value is null-->
          {% else %} Time Unavailable {% endif %}
        </td>
        <!--this inputs readable date format/ first import datetime and insert custom filter before this last step-->
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
    <!-- the jquery should be before the datatables and should be loaded before the datatables -->
    <!--the js and jquery should be positioned as body tag closes to ensure that the js and jquery are loaded after the html to avoid lag-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <!--script provided to link table style from datatables site -->
    <!--the script will run once linked to the opening of the table tag using id represented as hashtag-->

    <script>
      let table = new DataTable("#myTable");
    </script>

    <!--bootstrap-->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    ></script>
    {% endblock %}
